
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      Log In
    </div>
  </div>
</div>



<div class="page_content_wrapper main_width" style="text-align:center;">
<%= form_tag sessions_path do %>
  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div><%= link_to "forgotten password?", new_password_reset_path %></p>
  <!--
  <p>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %><br />
    <%= label_tag :remember_me %>
  </p>
-->

  <div class="actions submit_button_wrapper main_width">
    <%= submit_tag 'Log In', :class => 'default_button donateButton' %>
  </div>
<% end %>
</div>
