<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      FAQs
    </div>
  </div>
</div>


<div class="page_content_wrapper main_width">
<% if is_admin? %>
<div class="new_wrapper">
  <%= link_to 'New Faq', new_faq_path %>
</div>
<% end %>


<% @faqs.each do |faq| %>
  <div class="faq_wrapper">
    <div class="faq_question">
      Q: <%= faq.question %> 
    </div>
    
    <% if is_admin? %>
      <div>
        <%= link_to 'Edit', edit_faq_path(faq), :class => 'admin_text' %> 
        <%= link_to 'Delete', faq, :confirm => 'Are you sure?', :method => :delete, :class => 'admin_text' %>
      </div>
    <% end %>

    <div class="text faq_answer">
      A: <%= faq.answer %>
    </div>
  </div>
<% end %>
</div>


