
<div class="description_wrapper">

  <div class="description_title">
    Section Title:<br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= link_to_remove_fields "Remove Section", f %>
  </div>


  <%= f.fields_for :bpsubsections do |builder| %>
    <%= render "bpsubsections/bpsubsection_fields", :f => builder %>
  <% end %>

  <div>
    <%= link_to_add_fields "Add SubSection", f, :bpsubsections %>
  </div>


</div>

