<h1>Listing bpsections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Startup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bpsections.each do |bpsection| %>
  <tr>
    <td><%= bpsection.title %></td>
    <td><%= bpsection.startup_id %></td>
    <td><%= link_to 'Show', bpsection %></td>
    <td><%= link_to 'Edit', edit_bpsection_path(bpsection) %></td>
    <td><%= link_to 'Destroy', bpsection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bpsection', new_bpsection_path %>
