<script type="text/javascript">
$(document).ready(function() {
    
  $('.startup_name').live('keyup', function(){
    this_val = $(this).val();
    var username = this_val.replace(/\s/g, '');  
    $('.startup_username').val(username); 
    $('.visible_startup_username').val('http://www.ami.com/' + username);    

    if(username != ''){
      $('.startup_name_div').html(this_val);
    } else {
      $('.startup_name_div').html('Startup Name');
    }

  });
      
  $('.startup_name').trigger('keyup');  
});
</script>

<%= form_for(@startup, :html => { :multipart => true }) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.each do |msg, val| %>
        <li><%= val %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- **********  END startup_main_info_wrapper ********** -->
<div  class="startup_main_info_wrapper">

  <table class="startup_main_info_table">
    <tr>
      <td>User:</td>
      <td><%= f.select :user_id, @users.collect{|us| [ us.email, us.id ] } %></td>
      <td>Startup Name:</td>
      <td><%= f.text_field :startup_name, :class => 'startup_name'  %></td>
      <td>AMI Startup Url:</td>
      <td><%= f.text_field :username, :value => 'http://www.ami.com/', :disabled => 'disable', :class => 'visible_startup_username' %>
        <%= f.hidden_field :username, :class => 'startup_username'%></td>
    </tr>
    <tr>
      <td><%= f.label 'Startup Contact Email' %></td>
      <td><%= f.text_field :email %></td>
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address %></td>
      <td><%= f.label :city %></td>
      <td><%= f.text_field :city %></td>
    </tr>
    <tr>
      <td><%= f.label :state %></td>
      <td><%= f.text_field :state %></td>
      <td><%= f.label :zip %></td>
      <td><%= f.text_field :zip %></td>
      <td><%= f.label 'Logo' %></td>
      <td><%= f.file_field :startup_logo %></td>
    </tr>
  </table>

</div>
<!-- **********  END startup_main_info_wrapper ********** -->


<!-- **********  startup_wrapper ********** -->
<div class="startup_wrapper">
  <div class="startup_name_div">
    
  </div>

  <!-- **********  startup_body_wrapper ********** -->
  <div class="startup_body_wrapper">
    <div class="startup_body_left">
      <%= f.fields_for :descriptions do |builder| %>
        <%= render "descriptions/description_fields", :f => builder %>
      <% end %>

  <div>
    <%= link_to_add_fields "Add Description", f, :descriptions %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
    </div>
    <div class="startup_body_right">
      <div class="brief_description_details">
        Brief Description of Company:<br />
        <%= f.text_area :brief_description %>
      </div>
    </div>
  </div>
  <!-- **********  END startup_body_wrapper ********** -->
</div>
<!-- **********  END startup_wrapper ********** -->
<% end %>
