<script type="text/javascript">
$(document).ready(function() {
    
  $('.startup_name').live('keyup', function(){
    this_val = $(this).val();
    var username = this_val.replace(/\s/g, '');  
    $('.startup_username').val(username); 
    $('.visible_startup_username').val('http://www.ami.com/' + username);    

    if(username != ''){
      $('.startup_name_div').html(this_val);
    } else {
      $('.startup_name_div').html('Startup Name');
    }

  });
      
  $('.startup_name').trigger('keyup');  

  $(document).ready(function() {
    checkSelectedTab('page_nav_link', '');
  });
});
</script>


<%= form_for(@startup, :html => { :multipart => true }) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.each do |msg, val| %>
        <li><%= val %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- **********  END startup_main_info_wrapper ********** -->
<div  class="startup_main_info_wrapper">

  <table class="startup_main_info_table">
    <tr>
      <td>User:</td>
      <td><%= f.select :user_id, @users.collect{|us| [ us.email, us.id ] } %></td>
      <td>Startup Name:</td>
      <td><%= f.text_field :startup_name, :class => 'startup_name'  %></td>
      <td>AMI Startup Url:</td>
      <td><%= f.text_field :username, :value => 'http://www.ami.com/', :disabled => 'disable', :class => 'visible_startup_username' %>
        <%= f.hidden_field :username, :class => 'startup_username'%></td>
    </tr>
    <tr>
      <td><%= f.label 'Startup Contact Email' %></td>
      <td><%= f.text_field :email %></td>
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address %></td>
      <td><%= f.label :city %></td>
      <td><%= f.text_field :city %></td>
    </tr>
    <tr>
      <td><%= f.label :state %></td>
      <td><%= f.text_field :state %></td>
      <td><%= f.label :zip %></td>
      <td><%= f.text_field :zip %></td>
      <td><%= f.label 'Logo' %></td>
      <td><%= f.file_field :startup_logo %></td>
    </tr>
  </table>

</div>
<!-- **********  END startup_main_info_wrapper ********** -->











<div class="main_width content">

  <!-- Profile Section -->
  <div class="page_nav_link_content" id="page_nav_link_profile" style="display:none;">
    
    <!-- LEFT COLUMN PROFILE -->
    <div class="left_column">
      
      <div class="donation_raised_wrapper">

        <div class="percentage_display_wrapper">
         <span class="percentage_display" id="percentage_display">FUNDING</span>
         <!-- <span class="percentage_display" id="percentage_display"><%= @percent_raised %>%</span> raised, <span id="amount_to_go"><%= number_to_currency(@amount_to_go, :precision => 2) %></span> to go -->
        </div>

        <div class="donation_raised_wrapper">
          Amount to be Raised:<br />
          $<%= f.text_field :donation_amount %>
        </div>

      </div>

      <div class="brief_description_details">
        Brief Description of Company:<br />
        <%= f.text_area :brief_description %>
      </div>

    </div>
    <!-- END LEFT COLUMN PROFILE -->

    <!-- RIGHT COLUMN PROFILE -->
    <div class="right_column">
    

        <%= f.fields_for :descriptions do |builder| %>
          <%= render "descriptions/description_fields", :f => builder %>
        <% end %>

      <div>
        <%= link_to_add_fields "Add Description", f, :descriptions %>
      </div>
    </div>  
    <!-- END RIGHT COLUMN PROFILE -->

  </div>
  <!-- END Profile Section -->


  
  <!-- Business Plan Section -->
  <div class="page_nav_link_content" id="page_nav_link_businessPlan" style="display:none;">
    
    <!-- LEFT COLUMN BUSINESS PLAN -->
    <div class="left_column">
      <div class="small_header">
        BUSINESS PLAN
      </div>
      
    </div>
    <!-- END LEFT COLUMN BUSINESS PLAN -->

    <!-- RIGHT COLUMN BUSINESS PLAN -->
    <div class="right_column">
      <div class="small_header">
        BUSINESS PLAN
      </div>

      <div class="description_details">
        Business Plan Description:<br />
        <%= f.text_area :busplandesc %>
      </div>

       <%= f.fields_for :bpsections do |builder| %>
          <%= render "bpsections/bpsection_fields", :f => builder %>
        <% end %>

      <div>
        <%= link_to_add_fields "Add Section", f, :bpsections %>
      </div>
      
    </div>
    <!-- END RIGHT COLUMN BUSINESS PLAN -->
    

  </div>
  <!-- END Business Plan Section -->




  <!-- Payroll Section -->
  <div class="page_nav_link_content" id="page_nav_link_payroll" style="display:none;">
    
    <!-- LEFT COLUMN PAYROLL -->
    <div class="left_column">
      <div class="small_header">
        PAYROLL
      </div>

    </div>
    <!-- END LEFT COLUMN PAYROLL -->

    <!-- RIGHT COLUMN PAYROLL -->
    <div class="right_column">
      <div class="small_header">
        PAYROLL
      </div>

    </div>
    <!-- END RIGHT COLUMN PAYROLL -->
    

  </div>
  <!-- END Payroll Section -->




</div>

<div class="actions submit_button_wrapper main_width">
  <%= f.submit 'Save', :class => 'default_button donateButton' %>
</div>

<% end %>





















