<div class="page_header">
  Startups
</div>

<% if is_admin? %>
  <div class="new_wrapper">
    <%= link_to 'New Startup', new_startup_path %>
  </div>
<% end %>

<%= form_tag startups_path, :method => 'get', :id => "startups_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="startups">
    <%= render 'startups' %>
  </div>
<% end %>



