<%= form_for(@description, :html => { :multipart => true }) do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc_type %><br />
    <%= f.text_field :desc_type %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label 'Upload Content' %><br />
    <%= f.file_field :upload_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
