
<%= form_for(@user, :html => { :multipart => true })  do |f| %>
  
  <div>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="left_column">
    <div>
      <div style="text-align:center;">
        <%= image_tag @user.photo.url(:small), :style => 'vertical-align:middle; padding:5px; border:1px solid #ccc;'  %>
      </div>
      Photo: <%= f.file_field :photo %>
    </div>
  </div>
  <div class="right_column">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <% if is_admin? %>
      <div class="field">
        <%= f.label :user_type %><br />
        <%= f.select :user_type, options_for_select([['User', 'User'], ['Contributor','Contributor']], @user.user_type) %>
        <%= params[:user_type] %>
      </div>
    <% end %>
  </div>

</div>

  <div class="actions submit_button_wrapper main_width">
    <%= f.submit 'Save', :class => 'default_button donateButton' %>
  </div>
<% end %>



