<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @section.type %>
</p>

<p>
  <b>Content:</b>
  <%= @section.content %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
