<%= form_for(@bpsubsection) do |f| %>
  <% if @bpsubsection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bpsubsection.errors.count, "error") %> prohibited this bpsubsection from being saved:</h2>

      <ul>
      <% @bpsubsection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :bpsection_id %><br />
    <%= f.text_field :bpsection_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
